<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ecnu.trace.mapper.EnviromentMapper">

  <resultMap id="EnviromentMap" type="cn.ecnu.system.pojo.Enviroment">
      <id property="id" column="id"/>
      <result property="airTemperature" column="air_temperature"/>
      <result property="airHumidity" column="air_humidity"/>
      <result property="CO2" column="CO2"/>
      <result property="illuminance" column="illuminance"/>
      <result property="soilTemperature" column="soil_temperature"/>
      <result property="soilHumidity" column="soil_humidity"/>
      <result property="date" column="date"/>
      <result property="greenhouseId" column="greenhouse_id"/>
      <result property="createTime" column="create_time"/>
      <result property="updateTime" column="update_time"/>
  </resultMap>

    <update id="updateLogicDelById" parameterType="cn.ecnu.system.pojo.Enviroment">
        update enviroment
        <set>
            <if test="airTemperature != null">
                air_temperature = #{airTemperature}, 
            </if>
            <if test="airHumidity != null">
                air_humidity = #{airHumidity}, 
            </if>
            <if test="CO2 != null">
                CO2 = #{CO2}, 
            </if>
            <if test="illuminance != null">
                illuminance = #{illuminance}, 
            </if>
            <if test="soilTemperature != null">
                soil_temperature = #{soilTemperature}, 
            </if>
            <if test="soilHumidity != null">
                soil_humidity = #{soilHumidity}, 
            </if>
            <if test="date != null">
                date = #{date}, 
            </if>
            <if test="greenhouseId != null">
                greenhouse_id = #{greenhouseId}, 
            </if>
            <if test="createTime != null">
                create_time = #{createTime}, 
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where   id = #{id}
    </update>
</mapper>
