<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ecnu.trace.mapper.ManagerMapper">

  <resultMap id="ManagerMap" type="cn.ecnu.system.pojo.Manager">
      <result property="id" column="id"/>
      <result property="account" column="account"/>
      <result property="username" column="username"/>
      <result property="password" column="password"/>
      <result property="createTime" column="create_time"/>
      <result property="updateTime" column="update_time"/>
  </resultMap>

    <update id="updateLogicDelById" parameterType="cn.ecnu.system.pojo.Manager">
        update manager
        <set>
            <if test="id != null">
                id = #{id}, 
            </if>
            <if test="account != null">
                account = #{account}, 
            </if>
            <if test="username != null">
                username = #{username}, 
            </if>
            <if test="password != null">
                password = #{password}, 
            </if>
            <if test="createTime != null">
                create_time = #{createTime}, 
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where   id = #{id}
    </update>
</mapper>
