<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ecnu.trace.mapper.EnterpriseMapper">

  <resultMap id="EnterpriseMap" type="cn.ecnu.trace.pojo.Enterprise">
      <id property="id" column="id"/>
      <result property="account" column="account"/>
      <result property="password" column="password"/>
      <result property="name" column="name"/>
      <result property="address" column="address"/>
      <result property="manager" column="manager"/>
      <result property="phone" column="phone"/>
      <result property="email" column="email"/>
      <result property="createTime" column="create_time"/>
      <result property="updateTime" column="update_time"/>
  </resultMap>

    <update id="updateLogicDelById" parameterType="cn.ecnu.trace.pojo.Enterprise">
        update enterprise
        <set>
            <if test="account != null">
                account = #{account}, 
            </if>
            <if test="password != null">
                password = #{password}, 
            </if>
            <if test="name != null">
                name = #{name}, 
            </if>
            <if test="address != null">
                address = #{address}, 
            </if>
            <if test="manager != null">
                manager = #{manager}, 
            </if>
            <if test="phone != null">
                phone = #{phone}, 
            </if>
            <if test="email != null">
                email = #{email}, 
            </if>
            <if test="createTime != null">
                create_time = #{createTime}, 
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where   id = #{id}
    </update>
</mapper>
